PORT=3000
MONGO_URI=mongodb+srv://honpg:doanxemban@exe1.oihwtgg.mongodb.net/
GOOGLE_CLIENT_ID=663593030563-d44blpuubl472de8r3ucjlho6tml70d2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
JWT_KEY=e5f2cb913e1d8ac5fc8cde4426adf398b8e1875db5ec171bc48c4b2482584e61
CLIENT_URL=http://localhost:5173
AI_SERVER_URL=http://localhost:8000
EMAIL_USER=
EMAIL_PASS=